.button {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-right: 12px;
}

.button:hover {
    color: #0025ff;
    transition: opacity ease .3s;
}

@media screen and (max-width: 400px) {
    .button {
        font-size: 18px;
    }
}