.footer__menu-link {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color: #fefefe;
    text-decoration: none;
    text-align: center;
    margin-right: 12px;
}

.footer__menu-link:last-child {
    margin-right: 0;
}

.footer__menu-link:hover {
    color: #b3a577;
    transition: opacity ease .3s;
}

@media screen and (max-width: 400px) {
    .footer__menu-link {
        font-size: 16px;
    }
}