@import url(./__title/section__title.css);
@import url(./__subtitle/section__subtitle.css);
@import url(./__tool-image/section__tool-image.css);

.section {
    height: 100%;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
}