@import url(./__title/section-one__title.css);
@import url(./__subtitle/section-one__subtitle.css);

.section-one {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}