.section-one__title {
    margin: 0;
    font-family: 'Helvetica Neue';
    font-weight: 900;
    font-size: 48px;
    color: #fefefe;
    text-align: center;
    text-shadow: none;
    
}

.section-one__title:hover {
    cursor: pointer;
    color: #b3a577;
    transition: opacity ease .3s;
}

@media screen and (max-width: 400px) {
    .section-one__title {
        font-size: 40px;
    }
}