.section-one__subtitle {
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    max-width: 300px;
}

@media screen and (max-width: 400px) {
    .section-one__subtitle {
        font-size: 18px;
        margin-top: 16px;
    }
}