.header__menu-link {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    margin-right: 20px;
}

.header__menu-link:last-child {
    margin-right: 0px;
}

.header__menu-link:hover {
    color: #0025ff;
    transition: opacity ease .3s;
}

@media screen and (max-width: 480px) {
    .header__menu-link {
        font-size: 18px;
    }
}