.footer__author {
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 680px) {
    .footer__author {
        font-size: 14px;
        line-height: 14px;
    }
}

@media screen and (max-width: 535px) {
    .footer__author {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (max-width: 420px) {
    .footer__author {
        font-size: 10px;
        line-height: 10px;
    }
}