.footer__author {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .footer__author {
        font-size: 12px;
    }
}