.section__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    max-width: 80%;
    line-height: 50px;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .section__subtitle {
        font-size: 26px;
        margin-top: 16px;
    }
}