@import url(./__menu/header__menu.css);
@import url(./__menu/header__menu-link.css);
@import url(./__menu/_active/header__menu-link_active.css);

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 34px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(179,165,119, .5);
}