@import url(./__menu/header__menu.css);
@import url(./__menu/header__menu-link.css);
@import url(./__menu/_active/header__menu-link_active.css);

.header {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(0, 37, 255, .6);
}